[Unit]
Description=REST API for any PostgreSQL database
After=postgresql.service

[Service]
User=postgrest
Group=postgrest
ExecStart=/opt/PostgREST/postgrest_current /etc/postgrest/postgrest.conf
ExecReload=/bin/kill -SIGUSR1 $MAINPID

[Install]
WantedBy=multi-user.target
